name: 'Build & Test'

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
    DOTNET_CLI_TELEMETRY_OPTOUT: 1
    DOTNET_NOLOGO: true
    dotnet-version: |
      7.x

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: 'Build & Test'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.dotnet-version }}

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore --property:OutputPath=$GITHUB_WORKSPACE/build

    - name: Test
      run: dotnet test --configuration Release -v diag --no-restore --no-build --property:OutputPath=$GITHUB_WORKSPACE/build